<div class="container">
  <div class="row game-padding">
    <div class="col-md-4">
      <app-score></app-score>
    </div>
    <div class="col-md-8">
      <div class="row">
        <app-dealer></app-dealer>
      </div>
      <div class="row">
        <app-player></app-player>
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="col-md-5"></div>
    <div class="col-md-3">
      <button type="button" class="btn btn-primary btn-lg btn-block"
              [disabled]="isPlayerStoppedPlaying || !isGameStated"
              (click)="getNewCard()">Ajouter une Carte</button>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-danger btn-lg btn-block"
              [disabled]="isPlayerStoppedPlaying || !isGameStated"
              (click)="stopPlaying()" >Stop</button>
    </div>
  </div>
</div>
